body {
  background-image: url(../img/bg.jpg);
  height: auto;
  width: auto;
}

.main-panel {
  /*border: 1px solid #c3c3c3;*/
  /*background-color: rgba(255,255,255,0.4);*/
}
.main-content {
  margin-top: 15vh;
}
.nav>li.tab-btn>a:hover {
  background-color: #31b0d5;
}

.tab-btn a {
  font-size: 20px;
  font-weight: bold;
  color: black;
}